body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #D198B7;
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

/*FIXED VARS*/
.container{
  width: 80%;
  height: inherit;
  margin-inline: auto;
}
.TEXTCENTER{
  text-align: center;
}

/*BUTTON*/
.BUTTON{
  padding: 0.8rem;
  opacity: 0.8;
  max-width: 200px;
  border-radius: 25px;
  background-color: #CDB4DB;
  color: #FFFFFF;
  border: none;
  font-size: 17px;
}
.BUTTON:hover{
  transform: scale(105%);
  opacity: 1;
  box-shadow: 0px 10px 25px -15px rgba(255, 255, 255, 1);
}
/*FONTS*/
.ONE{
  font-family: 'Lilita One', cursive;
}
.CORMORANT{
  font-family: 'Cormorant', serif;
}
.RASA{
  font-family: 'Rasa', serif;
}
.BOLD{
  font-weight: 700;
}
.LIGHT{
  font-weight: 300;
}
h1{
  font-size: 65px;
}
h2{
  font-size: 45px;
}
h3{
  font-size: 35px;
}
h4{
  font-size: 30px;
}
span{
  font-size: 18px;
}
p{
  font-size: 14px;
}

/*COLORS*/

.DBLUE{
  color: #0E172C;
}
.BLACK{
  color: #000000;
}
.WHITE{
  color: #FFFFFF;
}
.PURPLE{
  color:  #CDB4DB;
}


/*NAVBAR*/
.nav-bar-container{
  position: fixed;
  width: 100%;
  z-index: 2;
}
.nav-bar-top{
  background-color: #FFFFFF;
}
.nav-bar-bottom-img{
  width: 100%;
  object-fit: contain;
}

/*HERO*/
.hero-container{
  background-image: url("../public/hero-img.svg");
  min-height: 80vh;
  width: 100%;
  margin-top: 5vh;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
}
.hero-text-container{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*ABOUT ME */
.about-me-container{
  margin-top: 8rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.about-me-text-container{
  display: flex;
  gap: 3rem;
}
.about-me-text{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-me-img{
  height: 400px;
  filter: brightness(90%);
  padding: 15px 15px;
  background-color: white;
  box-shadow: 0px 10px 55px -35px rgba(255, 255, 255, 1);
}


/*PORTFOLIO*/
.portfolio-bg{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(".././public/portfolio-bg.svg");
  padding-bottom: 2rem;
}
.portfolio-item{
  box-shadow: 0px 10px 35px -60px rgba(255, 255, 255, 1);
}
.portfolio-img{
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.portfolio-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}
.portfolio-header{
  padding-bottom: 4rem;
  padding-top: 6rem;
}


@media only screen and (max-width: 700px) {

  .hero-container{
    margin-top: 2rem;
  }

  h1{
    font-size: 40px;
  }
  h2{
    font-size: 35px;
  }
  h3{
    font-size: 25px;
  }
  h4{
    font-size: 20px;
  }
  span{
    font-size: 14px;
  }
  p{
    font-size: 12px;
  }
  
  .about-me-text-container{
    flex-direction: column;
  }

}