body{
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #D198B7;
}

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

/*FIXED VARS*/
.container{
  width: 80vw;
  height: inherit;
  margin-inline: auto;
}
.TEXTCENTER{
  text-align: center;
}

/*BUTTON*/
.button{
  padding: 5rem;
  background-color: #CDB4DB;
  color: #FFFFFF;
}

/*FONTS*/
.ONE{
  font-family: 'Lilita One', cursive;
}
.CORMORANT{
  font-family: 'Cormorant', serif;
}
.RASA{
  font-family: 'Rasa', serif;
}
.BOLD{
  font-weight: 700;
}
.LIGHT{
  font-weight: 300;
}
h1{
  font-size: 65px;
}
h2{
  font-size: 45px;
}
h3{
  font-size: 35px;
}
h4{
  font-size: 30px;
}
span{
  font-size: 18px;
}
p{
  font-size: 14px;
}

/*COLORS*/

.DBLUE{
  color: #0E172C;
}
.BLACK{
  color: #000000;
}
.WHITE{
  color: #FFFFFF;
}
.PURPLE{
  color:  #CDB4DB;
}


/*NAVBAR*/
.nav-bar-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
}
.nav-bar-top{
  background-color: #FFFFFF;
}
.nav-bar-bottom-img{
  width: 100%;
}

/*HERO*/
.hero-container{
  background-image: url("./hero-img.svg");
  min-height: 80vh;
  max-width: 100vw;
  margin-top: 5vh;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
}
.hero-text-container{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*ABOUT ME */
.about-me-container{
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.about-me-text-container{
  display: flex;
  gap: 3rem;
}
.about-me-text{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-me-img{
  width: 50%;
}




@media only screen and (max-width: 700px) {

  h1{
    font-size: 40px;
  }
  h2{
    font-size: 35px;
  }
  h3{
    font-size: 25px;
  }
  h4{
    font-size: 20px;
  }
  span{
    font-size: 14px;
  }
  p{
    font-size: 12px;
  }
  

}